a{
    color: var(--theme-color);
}
a:hover{
    color: var(--theme-hover-color);
}
/*.nav-link*/
.nav-link{
    color: var(--theme-color);
}
.nav-link:focus, .nav-link:hover{
    color: var(--theme-hover-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--theme-color);
}

/*.page-item.active .page-link*/
.page-item .page-link{
    color: var(--theme-color);
}
.page-item .page-link:hover,
.page-item.active .page-link{
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}
.page-link:focus{
    background-color: inherit;
    box-shadow: var(--theme-shadow);
}
/*.progress-bar*/
.progress-bar{
    background-color: var(--theme-color);
}
/*.alert-primary*/
.alert-primary{
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}
.alert-primary .alert-link{
    color: #fff;
}
/*.btn*/
.btn:not(.btn-link){
    width: 100%;
    max-width: 175px;
    min-height: 46px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    padding: 11px;
}
.btn-sm:not(.btn-link){
    max-width: 120px;
}
.btn-lg:not(.btn-link){
    max-width: 290px;
}
.btn-max:not(.btn-link){
    max-width: max-content;
}




/*btn-primary*/
.btn-primary{
    /* background:var(--theme-color); */
    /* border-color:var(--theme-color); */
}
.btn-primary:hover{
    color: #fff;
    background-color:var(--theme-hover-color);
    border-color: var(--theme-color);
}
/*btn-outline-primary*/
.btn-outline-primary{
    color: var(--theme-color);
    border-color: var(--theme-color);
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

/*.list-group-item-primary*/
.list-group-item-primary{
    color: #fff;
    background-color: var(--theme-color);
}
.list-group-item-primary.list-group-item-action:focus, 
.list-group-item-primary.list-group-item-action:hover{
    color: #fff;
    background-color: var(--theme-hover-color);
}




/*.form-check-input:checked,*/
.form-check-input:checked{
    background-color:var(--theme-color);
    border-color:var(--theme-color);
}
.form-switch .form-check-input:focus {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e);
}
/*.mark, mark*/
.mark, mark{
    color: #fff;
    background-color: var(--theme-color);
}


/**/
.styledSelect,
.form-control,
.form-select,
textarea,
select,
html body .gform_wrapper form ul.gform_fields li.gfield input[type="text"],
html body .gform_wrapper form ul.gform_fields li.gfield input[type="email"],
html body .gform_wrapper form ul.gform_fields li.gfield input[type="number"],
html body .gform_wrapper form ul.gform_fields li.gfield input[type="tel"] {
    border-radius: 0px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    box-shadow: none;
    color:var(--theme-color);
    height:54px;
    padding: 7px 15px;
    transition: all 0.3s;
}
.form-select{
    padding: .375rem 2.25rem .375rem .75rem;
}
.form-control:focus{
    border-color: var(--theme-color);
}
.input-group-text{
    color: #fff;
    border-radius: 0 ;
    border-color: var(--theme-color);
    background-color: var(--theme-color);
}
.accordion-item:last-of-type .accordion-button,
.accordion-item:first-of-type .accordion-button{
    border-radius: 0;
}
/*.accordion-button*/
.accordion-button{
    border-radius: 0;
}
.accordion-button:not(.collapsed){
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}






















/*Box Shadow*/
.form-control:focus,
.form-check-input:focus,
.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, 
.btn-primary:active:focus, 
.accordion-button:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--theme-shadow);
}


/**/
.btn-primary:disabled,
.btn-primary,
.bg-primary{
    background-color:var(--theme-color);
    border-color:var(--theme-color);
}